<body class="burgers">
  <ul class="burgers">
<% @burgers.each do |burger| %>
 <li>Name: <%= burger.name() %></li>
 <li>Price: <%= burger.price() %> </li>
 <li>Deals: <% @deal = burger.deals %> </li>
 <% @deal.each do |deal| %>
 <ul class="burgers">
 <li> <%= deal.name %> </li>
 <li> <%= deal.day %> </li>
 <li> <%= deal.discount %> percent discount </li>
 <ul>
 <% end %>
 <li><a href="/burgers/<%=burger.id%>">Show Burger</a></li><br>
<% end %>
</ul>
</body>
